{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}(BaseModel):
    {%- if fields[0].required %}
    __root__: {{ fields[0].type_hint }}
    {%- else %}
    __root__: {{ fields[0].type_hint }} = {{fields[0].default}}
    {%- endif %}
