{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}({{ base_class }}):
{%- if not fields %}
    pass
{%- endif %}
{%-  if config %}
    class Config:
    {%- if config.extra  %}
        extra = {{ config.extra }}
    {%- endif %}
{%- endif %}
{%- for field in fields -%}
    {%- if field.required %}
    {{ field.name }}: {{ field.type_hint }}
    {%- else %}
    {{ field.name }}: {{ field.type_hint }} = {{ field.default }}
    {%- endif %}
{%- endfor -%}
