

    @validator('{{ field_name }}', pre=True)
    def validate_{{ field_name }}(self, value: Any) -> Any:
        fields: List = [
            ModelField(
                name=str(type_), type_=type_, class_validators=None, model_config=BaseConfig
            )
            for type_ in [{{ types }}]
        ]
        valid_item: Any = None
        match: bool = False
        for field in fields:  # type: ModelField
            value, errors = field.validate(value, values={}, loc=(), cls=None)
            if not errors:
                if valid_item:
                    raise ValueError(f'oneOf accept only one type. {value}')
                valid_item = value
                match = True
        if match:
            return valid_item
        raise ValueError(f'oneOf accept only one type. {value}')
