{{ class_name }} = TypedDict('{{ class_name }}', {
{%- for field in all_fields %}
    '{{ field.key }}': {{ field.type_hint }},
{%- endfor -%}
}{{ typed_dict_kwargs_suffix|default('') }})
{%- if description %}
{{ description }}
{%- endif %}
