class {{ class_name }}({{ base_class }}):
{%- if description %}
    """
    {{ description | escape_docstring | indent(4) }}
    """
{%- endif %}
{%- if not fields and not description %}
    pass
{%- endif %}
{%- for field in fields %}
    {{ field.name }}: {{ field.type_hint }}
    {%- if field.docstring %}
    """
    {{ field.docstring | escape_docstring | indent(4) }}
    """
{%- if field.use_inline_field_description and not loop.last %}

{% endif %}
    {%- elif field.inline_field_docstring %}
    {{ field.inline_field_docstring }}
{%- if not loop.last %}

{% endif %}
    {%- endif %}
{%- endfor -%}
