name: Test

on:
  pull_request: {}

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }} and isort ${{ matrix.isort-version }} and pydantic ${{ matrix.pydantic-version }} 
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        isort-version: [4.3.21, 5.6.4]
        black-version: [22.1.0, default]
        pydantic-version: [1.5.1, default]
    defaults:
      run:
        shell: bash
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
      ISORT: ${{ matrix.isort-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        VERSION: 1.2.0
        VIRTUALENVS_PATH: .venv
        VIRTUALENVS_CREATE: true
        VIRTUALENVS_IN_PROJECT: true
        INSTALLER_PARALLEL: true
    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v2
      if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ matrix.python-version }}-v1-${{ hashFiles('**/poetry.lock') }}
    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root -E http
    - name: Install isort ${{ matrix.isort-version }} for Linux/macOS
      if: runner.os != 'Windows'
      run: |
         poetry run pip install isort=="$ISORT"
    - name: Install Pydantic 1.5.1
      if: matrix.pydantic-version == '1.5.1' && matrix.python-version != '3.9'  && matrix.python-version != '3.10'
      run: |
         poetry run pip install pydantic=="1.5.1"
    - name: Install Black 22.1.0
      if: matrix.black-version == '22.1.0'
      run: |
         poetry run pip install black=="22.1.0"
    - name: Lint
      run: |
        source $VENV
        ./scripts/lint.sh
    - name: Unit Test
      run: |
         source $VENV
         ./scripts/test.sh
    - name: Upload coverage to Codecov
      if: matrix.os != 'windows-latest' && matrix.pydantic-version == 'default' 
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        file: ./coverage.xml
        fail_ci_if_error: true
        env_vars: OS,PYTHON,ISORT
